{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<h1>About page</h1>
		<p>Sed lobortis libero sed eleifend euismod. Morbi tempor pretium blandit. Morbi mauris dui, mollis ut lacus sit amet, vestibulum dictum nulla.
		</p>
		<p>
		Suspendisse a feugiat velit, quis vehicula dolor. Vestibulum nec vehicula metus. Nulla at tellus luctus, facilisis ex in, dictum dui. Sed tempor varius neque, auctor mattis lorem gravida quis. Ut sit amet odio eu ipsum imperdiet bibendum ut non ex.
		</p>
		<p>
		Donec vel nibh libero. Curabitur lorem mi, lobortis ut nulla at, elementum ultricies lacus.
		</p>
	</div>
{% endblock content %}
